@(tema: Tema)

<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<title class="center">Portal do Leite | @tema.getNome()</title>
		<link rel="shortcut icon" href="@routes.Assets.at("imgs/icon.ico")" >
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" media="screen">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" media="screen">
	</head>
	
	<body>
		<div class="container">
			<header>
				<h1 class="center"><a href="@routes.Application.index()">Portal do Leite</a></h1>
			</header>
			
			<h2>@tema.getNome()</h2>
			
			<div>
				<h3>Adicionar dica</h3>
				<form method="post">
					<select>
							<option value="dicaAssunto">Assuntos</option>
							<option value="dicaDisciplina">Disciplinas</option>
							<option value="dicaMaterial">Material Útil</option>
							<option value="dicaConselho">Conselho</option>
					</select>
					<button>Adicionar</button>
				</form>
				
				<div>
					<h4>O que você precisa saber para não ter dificuldades?</h4>
					<form method="post">
						<input type="text" placeholder="Nome do Assunto">
						<button>Finalizar</button>
					</form>
						
				</div>
				
				<div>
					<h4>Que disciplinas anteriores podem ajudar?</h4>
					<form>
						<input type="text" placeholder="Nome da Disciplina">
						<textarea placeholder="Por que essa disciplina será útil?"></textarea>
						<button>Finalizar</button>
					</form>
				</div>
				
				<div>
					<h4>Onde é possível encontrar material útil para essa disciplina?</h4>
					<form>
						<input type="url" placeholder="Link para o material">
						<button>Finalizar</button>
					</form>
				</div>
				
				<div>
					<h4>Que conselho você daria a quem vai iniciar essa disciplina?</h4>
					<form>
						<textarea placeholder="Adicione seu conselho"></textarea>
						<button>Finalizar</button>
					</form>
				</div>
			</div>
			
			<div>
				<h3>Dicas</h3>
				<ul>
					<!-- Dicas aqui -->
				</ul>
			</div>
			
			<footer class="col-md-6 col-md-offset-3">
				<p class="center">
					Portal do Leite &copy; 2015 <br>
					Desenvolvido por Júlio Neves e Tatiana Saturno
				</p>
			</footer>
		</div>
	</body>
	
	<script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
</html>
			