<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<title class="center">Portal do Leite | Home</title>
		<link rel=”icon” href=”@routes.Assets.at("imgs/icon.ico")” >
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" media="screen">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" media="screen">
		
	</head>
	<body>
		<div class="container">
			<header>
				<h1 class="center">Portal do Leite</h1>
			</header>
			<ul>
				<li>Aqui vão os temas</li>
			</ul>
			<footer class="col-md-6 col-md-offset-3">
				<p class="center">
					Portal do Leite &copy; 2015 <br>
					Desenvolvido por Júlio Neves e Tatiana Saturno
				</p>
			</footer>
		</div>
	</body>
	
	<script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
</html>
